
.box{
    border-radius: 50%;
    background-color: blue;
    width: 100px;
    height: 100px;
    animation:flicker 2s infinite;
}

@keyframes flicker{
    0%{
        opacity: 1;

    } 
    
    
    25%{
        opacity: 0.3%;
    }
    
    50%{
        opacity: 1;
    }

    75%{
        opacity: 0.2%;
    }

    100%{
        opacity: 1;
    }

}